html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f1eb;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

img.fittoscreen {
    width: auto;
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Nunito', sans-serif;
}



/* [BUTTON COMMISH] STARTS */

    a.button:link, a.button:visited {
        background-color: #91847e;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a.button:hover, a.button:active {
        background-color: #6d6059;
    }

/* [BUTTON COMMISH] ENDS */



/* [BUTTON TOP] STARTS */

    a.buttonTOP:link, a.buttonTOP:visited {
        background-color: #aa9e98;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a.buttonTOP:hover, a.buttonTOP:active {
        background-color: #91847e;
    }

/* [BUTTON TOP] ENDS */



/* [BUTTON SNS] STARTS */

    .buttonSNS {
        color: white;
    }

    a.buttonSNS:link, a.button:visited {
        background-color: #91847e;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 50%;
        text-decoration: none;
        word-wrap: break-word;
    }

    a.buttonSNS:hover, a.button:active {
        background-color: #6d6059;
    }

/* [BUTTON SNS] ENDS */



/* [DP TABLE] STARTS */

    table#dp {
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 50%;
        padding-left: 5em;
    }

    table#dp td {
        border: 1px solid #A9A9A9;
        text-align: left;
        padding: 8px;
    }

    table#dp th {
        background-color: #D3D3D3;
        border: 1px solid #A9A9A9;
        text-align: left;
        padding: 8px;
        width: 30%;
    }

/* [DP TABLE] ENDS */



/* [CMS TABLE] STARTS */

    table#cms {
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding-left: 5em;
    }

    table#cms_stat {
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 50%;
        padding-left: 5em;
        border: 1px solid #A9A9A9;
        margin-left: auto;
        margin-right: auto;
    }

    table#cms th {
        background-color: #D3D3D3;
        border: 1px solid #A9A9A9;
        text-align: center;
        padding: 8px;
    }

    table#cms td {
        border: 1px solid #A9A9A9;
        text-align: center;
        padding: 8px;
    }

/* [CMS TABLE] ENDS */



/* [ABOUT TABLE] STARTS */

    table#about {
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding-left: 5em;
    }

    table#about td {
        text-align: left;
        padding: 16px;
    }

    table#about th {
        text-align: right;
        font-weight: bold;
        vertical-align: text-top;
        padding: 16px;
    }

/* [ABOUT TABLE] ENDS */



/* [NAVBAR UL/LI] STARTS */

    ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3d342f;
        text-align: center;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
        box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
    }

    li.navbar {
        float: left;
    }

    li.navbar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li.navbar a:hover:not(.active){
        background-color: #6d6059;
    }

    li.navbar a.home:hover:not(.active) {
        background-color: #3d342f;
    }

    .active {
        background-color: #1c1613;
    }

/* [NAVBAR UL/LI] ENDS */



.header {
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    text-align: center;
    background: #3d342f;
    color: #ffffff;
}

.navbar {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.main {
    max-width: 70%;
    margin: auto;
    flex: 70%;
    background-color: #f6f1eb;
    padding: 30px;
    color: #000000;
    font-size: 16px;
    text-align: center;
}

.mainLEFT {
    max-width: 70%;
    margin: auto;
    flex: 70%;
    background-color: #f6f1eb;
    padding: 30px;
    color: #000000;
    font-size: 16px;
    text-align: left;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    text-align: center;
    background: #3d342f;
    color: #ffffff;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
    box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
}

.button_spacing {
    overflow: auto;
    display: flex;
    justify-content: space-between;
}



/* [ABOUT ROWS] STARTS */

    .rowABOUT {
        display: flex;
    }

    .aboutLEFT {
        flex: 30%;
        padding: 30px;
    }

    .aboutRIGHT {
        flex: 70%;
        padding: 30px;
    }

    @media screen and (max-width: 600px) {
        .rowABOUT {
            width: 100%;
        }

        .aboutLEFT {
            width: 100%;
        }

        .aboutRIGHT {
            width: 100%;
        }
    }

/* [ABOUT ROWS] ENDS */



/* [DROPDOWN TOP NAV] STARTS */

    .dropdown {
        float: right;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: inherit;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown:hover .dropbtn {
        background-color: #1c1613;
    }
    
    .dropdown-content {
        right: 0;
        display: none;
        position: absolute;
        /* background-color: #3d342f; */
        background-color: #1c1613;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a{
        font-size: inherit;
        float: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }

    .dropdown-content a:hover:not(.active) {
        background-color: red;
        color: white;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

/* [DROPDOWN TOP NAV] ENDS */



/* [SLIDESHOW HOME] STARTS HERE */

    .slideshow_container {
        max-width: 800px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev {
        right: 1;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .textSlide {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        text-align: center;
        background-color: rgba(0,0,0,0.5);
    }
    
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
    }

/* [SLIDESHOW HOME] ENDS HERE */