html {
    scroll-behavior: smooth;
}

body {
    background-color: #f6f1eb;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

img.fittoscreen {
    width: auto;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Nunito', sans-serif;
}

.header {
    font-family: 'Nunito', sans-serif;
    padding: 5px;
    text-align: center;
    background: #3d342f;
    color: #ffffff;
}

.navbar {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.navbarSub {
    padding: 5px;
    background: #91847e;
    color: black;
    text-align: center;
    color: white;
    /* -webkit-box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
    box-shadow: 0px 2px 5px 0px rgba(87,87,87,1); */
}

.slideDIV {
    max-width: 100%;
    margin: auto;
    flex: 70%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
}

.main {
    max-width: 70%;
    margin: auto;
    flex: 70%;
    background-color: #f6f1eb;
    padding: 30px;
    color: #000000;
    font-size: 16px;
    text-align: center;
}

.mainLEFT {
    max-width: 70%;
    margin: auto;
    flex: 70%;
    background-color: #f6f1eb;
    padding: 30px;
    color: #000000;
    font-size: 16px;
    text-align: left;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    background: #3d342f;
    color: #ffffff;
    /* -webkit-box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(87,87,87,1);
    box-shadow: 0px -2px 5px 0px rgba(87,87,87,1); */
}

.button_spacing {
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

i.material-icons {
    vertical-align: sub;
}


/*
=====================================================================
    BUTTON COMMISH
=====================================================================
*/

    a.button:link, a.button:visited {
        background-color: #91847e;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a.button:hover, a.button:active {
        background-color: #6d6059;
    }



/*
=====================================================================
    BUTTON TOP
=====================================================================
*/

    a.buttonTOP:link, a.buttonTOP:visited {
        background-color: #aa9e98;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a.buttonTOP:hover, a.buttonTOP:active {
        background-color: #91847e;
    }



/*
=====================================================================
    BUTTON SNS
=====================================================================
*/

    .buttonSNS {
        color: white;
    }

    a.buttonSNS:link, a.button:visited {
        background-color: #91847e;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 50%;
        text-decoration: none;
        word-wrap: break-word;
    }

    a.buttonSNS:hover, a.button:active {
        background-color: #6d6059;
    }



/*
=====================================================================
    DP TABLE
=====================================================================
*/

    table#dp {
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 50%;
        padding-left: 5em;
    }

        table#dp td {
            border: 1px solid #A9A9A9;
            text-align: left;
            padding: 8px;
        }

        table#dp th {
            background-color: #D3D3D3;
            border: 1px solid #A9A9A9;
            text-align: left;
            padding: 8px;
            width: 30%;
        }



/*
=====================================================================
    CMS TABLE
=====================================================================
*/

    table#cms {
        font-family: 'Open Sans', sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding-left: 5em;
        margin-top: 20px;
    }

        table#cms_stat {
            font-family: 'Open Sans', sans-serif;
            border-collapse: collapse;
            width: 50%;
            padding-left: 5em;
            border: 1px solid #A9A9A9;
            margin-left: auto;
            margin-right: auto;
        }

        table#cms th {
            background-color: #D3D3D3;
            border: 1px solid #A9A9A9;
            text-align: center;
            padding: 8px;
        }

        table#cms td {
            border: 1px solid #A9A9A9;
            text-align: center;
            padding: 8px;
        }



/*
=====================================================================
    ABOUT TABLE
=====================================================================
*/

    .aboutTITLE {
        padding: 8px;
        width: 100%;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        color: white;
        background-color: #91847e;
    }



/*
=====================================================================
    NAVBAR UL/LI
=====================================================================
*/

    ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3d342f;
        text-align: center;
        /* -webkit-box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(87,87,87,1);
        box-shadow: 0px 2px 5px 0px rgba(87,87,87,1); */
    }

    li.navbar {
        float: left;
    }

        li.navbar a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li.navbar a:hover:not(.active){
            background-color: #6d6059;
        }

        li.navbar a.home:hover:not(.active) {
            background-color: #3d342f;
        }

    .active {
        background-color: #1c1613;
    }



/*
=====================================================================
    ABOUT ROW
=====================================================================
*/

    .rowABOUT::after {
        content: "";
        clear: both;
        display: table;
    }

    [class*="col-"] {
        float: left;
        padding: 15px;
      }

    .aboutLEFT {
        flex: 30%;
    }

    .aboutRIGHT {
        flex: 70%;
    }

    /*
    @media screen and (max-width: 600px) {
        .rowABOUT {
            width: 100%;
        }

        .aboutLEFT {
            width: 100%;
        }

        .aboutRIGHT {
            width: 100%;
        }
    }
    */



/*
=====================================================================
    DROPDOWN TOP NAV
=====================================================================
*/

    .dropdown {
        float: right;
        overflow: hidden;
    }

        .dropdown .dropbtn {
            font-size: inherit;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .dropdown:hover .dropbtn {
            background-color: #1c1613;
        }
    
    .dropdown-content {
        right: 0;
        display: none;
        position: absolute;
        /* background-color: #3d342f; */
        background-color: #1c1613;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a{
            font-size: inherit;
            float: none;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: right;
        }

        .dropdown-content a:hover:not(.active) {
            background-color: red;
            color: white;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }



/*
=====================================================================
    SLIDESHOW HOME
=====================================================================
*/

    * {box-sizing:border-box}

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .textSLIDE {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 5px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
    }


    .numbertextSLIDE {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.5s ease;
    }

        .dot:hover {
            background-color: #717171;
        }

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 0.5s;
        animation-name: fade;
        animation-duration: 0.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .8} 
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .8} 
        to {opacity: 1}
    }



/*
=====================================================================
    RESPONSIVE PROPERTIES
=====================================================================
*/

    [class*="col-"] {
        width: 100%;
    }

    @media only screen and (min-width: 600px) {
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
    }

    @media only screen and (min-width: 768px) {
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }



/*
=====================================================================
    COMMISH TYPE
=====================================================================
*/

    #CommishType {
        padding: 0 0 0 0;
    }

        #CommishType .container {
            text-align: left;
            overflow: hidden;
            position: relative;
            width: 100%;
        }

            #CommishType .container::after {
                content: "";
                clear: both;
                display: table;
            }

        #CommishType .catg {
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }

            #CommishType .catg .cell {
                height: 333px;
                display: inline-block;
            }

            #CommishType .catg .type1 {
                width: 200px;
                padding: 0;
            }

            /* #CommishType .catg .type2 {
                width: 720px;
            } */

            #CommishType .catg .cell .update {
                position: absolute;
            }
            
            #CommishType .catg .cell a {
                display: block;
                -webkit-user-select: none;
            }

            #CommishType .catg .cell:hover {
			}

                #CommishType .catg .cell a .over {
                    display: none;
                    position: absolute;
                    margin-top: 0px;
                }

                #CommishType .catg .cell:hover .over {
                    display: block;
                }

                body.tablet #CommishType .catg .cell:hover .over{
                    display: none;
                }

    ul.catg {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }

    li.cell {
        margin-left: 10px;
        margin-right: 10px;
    }



/*
=====================================================================
    CLEARFIX
=====================================================================
*/

    .clearfix:after{
        content: " ";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0.1px;
        font-size: 0.1em;
        line-height: 0;
    }
    .clearfix{
        display: inline-block;
    }
    /* Hides from IE-mac ï¼¼*/
    *html .clearfix{
        height:1%;
    }
    .clearfix{
        display:block;
    }